@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #8b5cf6;
  --color-primary-hover: #7c3aed;
}

:root {
  --color-background: #f9fafb;
  --color-background-light: #ffffff;
  --color-text-main: #111827;
  --color-text-secondary: #6b7280;
  --color-border-gray: #d1d5db;
  --color-tag-gray: #e5e7eb;
  --color-card-white: #ffffff;
  --color-icon-dark: #374151;
}

.bg-background {
  background-color: var(--color-background);
}

.bg-background-light {
  background-color: var(--color-background-light);
}

.text-textMain {
  color: var(--color-text-main);
}
.text-textSecondary {
  color: var(--color-text-secondary);
}

.mainTitle {
  font-family: "Inter", monospace;
}

.text-default-size {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

html,
body {
  height: 100%;
  font-family: "Geist", sans-serif;
  scroll-behavior: smooth;
}
